* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    padding: 50px 0 0 0;
}

.container {
    padding: 10px 5px;
    border: 1px solid red;
}

.row {
    gap: 20px;
}

 .col-2{
    border: 1px solid rgb(49, 41, 41);
    border-radius: 5px;
    max-width: 15%;
}
